@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display');

//html {
//  font-size: 62.75%;
//}

body {
  font-size: 1.125rem;

  h1 {
    font-size: 3rem;

    @include tablet() {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: 2rem;

    @include tablet() {
      font-size: 3rem;
    }
  }

  .mdl-button {
    font-family: $performance_font;
  }
}
