body {
  margin: 0;

  &.is-animating {
    cursor: progress !important;
  }
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.main-content {
  overflow-y: hidden;

  #content-container {
    height: calc(100vh - #{$header-height});
    width: 100vw;
    color: #fff;
    position: initial;
    overflow: hidden;

    > section {
      height: inherit;
      position: relative;
      padding: 0 $phone-gutter;
      overflow: hidden;

      .leading-text {
        margin-bottom: 2rem;
        z-index: map-get($zIndex, 'higher');

        h1 {
          margin-top: 0;
        }

        p {
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }

      @include desktop() {
        padding: 0 $desktop-gutter;
      }
    }
  }
}

.world {
  left: 0;
  bottom: 0;
  position: fixed;
  transform-origin: 35% 100%;
}
